{% extends 'myapp/base.html' %}

{% block myhdg %}
    {% if error %}
        Welcome {{ username }}
        {% else %}
        Welcome {{ first_name }} {{ last_name }}
    {% endif %}

{% endblock %}

{% block body_block %}
    {% if error %}
        <table border="1">
            <tr>
                <th>Topic</th>
                <th>Name</th>
                <th>Price</th>
                <th>Hours</th>
                <th>For Everyone</th>
                <th> Add hours </th>
            </tr>
            <tr>
            {% for course in courses %}
            <tr>
                <td> {{ course.topic }}</td>
                <td> {{ course.name }}</td>
                <td> {{ course.price }} </td>
                <td> {{ course.hours }} </td>
                {% if course.for_everyone %}
                    <td> Yes </td>
                {% else %}
                    <td> No </td>
                {% endif %}

                <td>
                    <form action="{% url 'myapp:my_account' %}" method="post">
                        {% csrf_token %}
                        <input id="course_name" type="text" name="course_name" value="{{ course.name }}">
                        <input type="submit" value="add">
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
        {% else %}
        <p> First Name: {{ first_name }} </p>
        <p> Last Name: {{ last_name }} </p>
        <p> Ordered Courses: </p>
        <table border="1">
            <tr>
                <th>Order Date</th>
                <th>Name</th>
                <th>Price</th>
                <th>For Everyone</th>
                <th>Description</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td> {{ order.order_date }}</td>
                <td> {{ order.course.name }}</td>
                <td> {{ order.course.price }} </td>
                {% if order.course.for_everyone %}
                    <td> Yes </td>
                {% else %}
                    <td> No </td>
                {% endif %}
                <td> {{ order.course.description }} </td>
            </tr>
            {% endfor %}
         </table>
        <p> Interested Topic: </p>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
            {% for topic in interested_topics %}
            <tr>
                <td> {{ topic.name }}</td>
                <td> {{ topic.category }}</td>
            </tr>
            {% endfor %}
         </table>
    {% endif %}
{% endblock %}